body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app .react-datepicker [class^='react-datepicker'][class$='selected'],
#app .react-datepicker [class^='react-datepicker'][class$='today'] {
	background-color: #007bff !important;
}

#app > .container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#app.mobile .form-control:focus {
	border-color: #ced4da;
	box-shadow: none;
}

#app .content {
	flex: 1;
}
